<ion-item (click)="onLoadRecipe()">

<ion-grid>

    <ion-row>
      <ion-col size="2">
          <ion-thumbnail item-start>
              <img [src]="cocktail.photourl">
            </ion-thumbnail>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col style="padding-bottom: 0"><div style="font-weight: 600">{{ cocktail.name }}</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div *ngFor="let tag of cocktail.tasteTags" style="display: inline">
              <div class="taste{{tag.tagNo}}" style="display: inline; font-size: 0.7em; padding: 4px 8px; margin-right: 5px; color: white; border-radius: 14px;">{{ tag.taste }}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-item>
