<ion-item (click)="onLoadRecipe()">

<ion-grid>

    <ion-row>
      <ion-col size="2">
          <ion-thumbnail item-start>
              <img [src]="cocktail.photourl">
            </ion-thumbnail>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col style="padding-bottom: 0"><div style="font-weight: 600">{{ cocktail.name }}</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><div style="font-size: 0.8em; padding-top: 0">{{ cocktail.price }}$</div></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-item>
