// sucré
.taste1 {
    background-color: rgb(47, 47, 255);
}

// salé
.taste2 {
    background-color: rgb(144, 37, 252);
}

// acidulé
.taste3 {
    background-color: rgb(255, 109, 243);
}

// épicé
.taste4 {
    background-color: rgb(252, 44, 61);
}

// fruité
.taste5 {
    background-color: rgb(214, 10, 149);
}

// fort
.taste6 {
    background-color: rgb(255, 183, 29);
}

// herbal
.taste7 {
    background-color: rgb(16, 123, 20);
}

// amer
.taste8 {
    background-color: rgb(225, 218, 145);
}

// fumé
.taste9 {
    background-color: rgb(112, 72, 75);
}

// frais
.taste10 {
    background-color: rgb(24, 227, 254);
}


