<!-- <ion-header style="position: fixed; top: 0;">
    <ion-toolbar scroll="false" color="light">
      <ion-icon class="ion-float-left"  color="primary" (click)="leaveRecipeView()" style="zoom:1.5; margin-left: 10px;" name="arrow-back"></ion-icon>
      <ion-title  color="dark" style="font-size: 1.3em; vertical-align: middle;">
        {{ cocktailToDisplay.name }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-img  [src]="cocktailToDisplay.photourl" ></ion-img>
  
  <div  #recipeDisplay style="color: black; padding-left: 10px; padding-right: 10px">
    <h4>Ingrédients</h4>
      <div style="margin-left: 10px;" *ngFor="let ingredient of recipe?.ingredients">
          <div>
            <div style="display: inline-block; font-weight: 400; width:40px; text-align: start; padding-right: 5px">
              {{ ingredient.quantity }}
            </div>
            {{ ingredient.preposition }}
            {{ ingredient.aliment }}</div>
      </div>

      <h5>Préparation</h5>
      <div  style="margin-left: 10px;">{{ cocktailToDisplay.preparation }}</div>

      <h5>Décoration</h5>
      <div  style="margin-bottom: 20px; margin-left: 10px;">{{ cocktailToDisplay.decoration }}</div>
      <div style="margin: 20px 10px; border-bottom: 2px solid rgb(220, 220, 220)"></div>

  </div>
   -->